@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --corPrimaria: hsl(225, 50%, 48%);
  --corSecundaria: hsl(180, 17%, 95%);
  --corUm: hsl(15, 74%, 70%);
  --corDois: hsl(28, 100%, 82%);
  --corHover: hsl(225, 56%, 59%);
  --corBranca: hsl(48, 60%, 98%);
  --corPreta: hsl(0, 0%, 12%);
  --corTexto: hsl(240, 1%, 48%);
  --corBorda: hsl(0, 0%, 83%);
  --corBrancaDeam: hsl(0, 0%, 93%);
  --cinzaBg: hsl(0, 0%, 96%);
  --cinzaTexto: rgb(145, 145, 145);
  --corInput: hsl(330, 12%, 97%);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05);
  --transition: 0.4s ease-in-out;
}

body {
  background: var(--corBranca);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--corPrimaria);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--corBranca);
}
.btn a {
  color: var(--corBranca);
  font-weight: 500;
}
.btn:hover {
  background: var(--corHover);
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--cinzaTexto);
}

p {
  font-size: 13px;
  color: var(--cinzaTexto);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--corPreta);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--corPreta);
}

.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBar .navBarOne,
.navBar .navBarTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navBar .navBarOne {
  background: var(--corSecundaria);
}
.navBar .navBarOne .icon:hover {
  color: var(--corPrimaria);
}
.navBar .navBarOne .atb {
  gap: 1rem;
}
.navBar .navBarOne .atb span {
  color: var(--corPreta);
  font-size: 13px;
  cursor: pointer;
}
.navBar .navBarOne .atb span:hover {
  color: var(--corPrimaria);
  font-size: 700;
}
.navBar .navBarTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 1.5rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.navBar .navBarTwo ul {
  gap: 2rem;
}
.navBar .navBarTwo .logoDiv .logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .navBar .navBarTwo .toggleIcon {
    display: inline;
  }
  .navBar .navBarTwo .navBarMenu {
    position: absolute;
    background: var(--corSecundaria);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.5) 0px 4px 6px -2px;
    border: 3px solid var(--corBranca);
    transition: 0.4s ease-in-out;
  }
  .navBar .navBarTwo .navBarMenu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--corPreta);
  }
  .navBar .navBarTwo .btnContato {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
}
.navBar .navBarTwo .btnDois {
  display: none;
}
.navBar .navBarTwo .toggleIcon icon {
  font-size: 30px;
  color: var(--corPreta);
}
.navBar .navBarTwo .showNavBar {
  right: 50%;
  transition: 0.5s ease-in-out;
}
.navBar .navBarBg {
  background: var(--corSecundaria);
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .mainText {
  color: var(--corPreta);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeImagens {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.home .homeImagens .videoDiv {
  width: 100%;
}
.home .homeImagens .videoDiv .video {
  border-radius: 19rem;
}
.home .homeImagens .aviao {
  position: absolute;
  width: 90%;
  top: 11%;
}

.search .sectionContainer {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--cinzaBg);
  border-radius: 16px;
  row-gap: 2rem;
}
.search .sectionContainer .btns {
  background: var(--corSecundaria);
  padding: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-bottom: 4.5rem;
}
.search .sectionContainer .btns .singleBtn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 80%;
  text-align: center;
  cursor: pointer;
}
.search .sectionContainer .btns .singleBtn:hover {
  background: var(--corPrimaria);
  color: var(--corBranca);
  font-weight: 500;
  transition: 0.4s ease;
}
.search .sectionContainer .btns .active {
  background: var(--corPrimaria);
  color: var(--corBranca);
  font-weight: 500;
}
.search .sectionContainer .searchInputs {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .sectionContainer .searchInputs .singleInput .iconDiv {
  padding: 16px 10px;
  border-radius: 3rem;
  background: var(--corSecundaria);
  margin-right: 1rem;
}
.search .sectionContainer .searchInputs .singleInput .iconDiv .icon {
  color: var(--corPreta);
  opacity: 0.7;
}
.search .sectionContainer .searchInputs .singleInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--corPreta);
  font-weight: 700;
}
.search .sectionContainer .searchInputs .singleInput .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .sectionContainer .searchInputs .singleInput .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .sectionContainer .searchInputs .singleInput .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.support .sectionContainer {
  margin-top: -35px;
}
.support .sectionContainer .titlesDiv {
  text-align: center;
}
.support .sectionContainer .titlesDiv small {
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--corPreta);
  line-height: 1.5rem;
}
.support .sectionContainer .infoDiv {
  margin: 2rem;
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv {
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .number {
  background: var(--corPrimaria);
  padding: 5px 12px;
  width: 40px;
  border-radius: 3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: var(--corBranca);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo p {
  margin-bottom: 1rem;
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .corUm {
  background: var(--corUm);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .corDois {
  background: var(--corDois);
}
.support .sectionContainer .infoDiv .imgDiv {
  margin: auto;
}
.support .sectionContainer .infoDiv .imgDiv img {
  width: 100%;
  max-width: 420px;
}

.info {
  background-color: var(--corSecundaria);
}
.info .infoContainer .titleDiv {
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  justify-content: space-between;
}
.info .infoContainer .cardsDiv {
  gap: 1.5rem;
  margin-top: 3rem;
}
.info .infoContainer .cardsDiv .singleCard {
  background: var(--corBranca);
  padding: 3rem 2rem;
  border-radius: 10rem;
  gap: 1rem;
  text-align: center;
  margin: auto;
  height: 320px;
  width: 90%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}
.info .infoContainer .cardsDiv .singleCard .iconDiv {
  margin-top: 2rem;
  background-color: var(--corPrimaria);
  width: -moz-max-content;
  width: max-content;
  height: 55px;
  padding: 1rem;
  border-radius: 3rem;
}
.info .infoContainer .cardsDiv .singleCard .iconDiv .icon {
  color: var(--corBranca);
}
.info .infoContainer .cardsDiv .singleCard .cardTitle {
  color: var(--corPreta);
  font-weight: 700;
}
.info .infoContainer .cardsDiv .singleCard p {
  margin: 1rem;
}
.info .infoContainer .cardsDiv .singleCard .corUm {
  background: var(--corUm);
}
.info .infoContainer .cardsDiv .singleCard .corDois {
  background: var(--corDois);
}

.lounge .sectionContainer {
  gap: 1rem;
}
.lounge .sectionContainer .imgDiv {
  margin: auto;
  max-width: 430px;
}
.lounge .textDiv .grids {
  margin-top: 1rem;
  gap: 1.5rem;
}
.lounge .textDiv .grids .singleGrid .gridTitle {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--corPreta);
}
.lounge .textDiv .grids .singleGrid p {
  padding-bottom: 1rem;
}

.travelers .sectionContainer {
  text-align: center;
}
.travelers .sectionContainer .travelersContainer {
  margin-top: 1rem;
  gap: 1.5rem;
}
.travelers .sectionContainer .travelersContainer .singleTraveler {
  position: relative;
  height: 500px;
  width: 85%;
  max-width: 250px;
  overflow: hidden;
  border-radius: 10rem;
  gap: 1rem;
  border: 1px solid var(--cinzaTexto);
  margin: auto;
  margin-bottom: 1.5rem;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .destinationImage, .travelers .sectionContainer .travelersContainer .singleTraveler .travelerImage, .travelers .sectionContainer .travelersContainer .singleTraveler .travelerName {
  position: absolute;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .destinationImage {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-100px);
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerImage {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  bottom: 30px;
  left: 41%;
  transform: translateX(-50%);
  border: 5px solid rgba(225, 225, 225, 0.637);
  transition: var(--transition);
  animation: animated 2.3s infinite;
}
@keyframes animated {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerName {
  bottom: 0%;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background: var(--corBranca);
  padding: 1.5rem 1rem;
  transition: var(--transition);
  animation: animatedBorders 2.3s infinite;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerName span {
  display: block;
  color: black;
  font-weight: 700;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerName p {
  color: var(--corPrimaria);
  font-style: italic;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerName .avaliacao {
  padding: 1rem;
}
@keyframes animatedBorders {
  0% {
    border-radius: 0rem;
  }
  50% {
    border-radius: 2rem;
  }
  100% {
    border-radius: 0rem;
  }
}
.travelers .sectionContainer .travelersContainer .singleTraveler:hover .travelerName {
  bottom: 0;
  transition: 1s ease-in-out;
}
.travelers .sectionContainer .travelersContainer .singleTraveler:hover .travelerImage {
  bottom: 250px;
  transition: 1s ease-in-out;
}/*# sourceMappingURL=main.css.map */